{{#extends 'base'}}

{{#block 'title'}}
Add Note
{{/block}}

{{#block 'content'}}

  <h1>Add note for {{foodRecord.foodName}}</h1>

  <form method="post">
    <div class="mt-3">
      <label class="form-label">Note:</label>
      <textarea name="content" cols="30" rows="10" class="form-control"></textarea>
    </div>

    <input type="submit" value="Add Note" class="btn btn-primary mt-3">
  </form>

{{/block}}

{{/extends}}