{{#extends 'base'}}

    {{#block 'main'}}
        <h1>Fault Reporting System</h1>

        <img src="images/condo-img.jpg" alt="Image of Condo">

        <h2>About</h2>
        <p>This is a fault reporting system for residents to report any faults or issues to the Condo ABC Facilities Management.</p>
    {{/block}}

{{/extends}}