{{#extends 'base'}}

{{#block 'title'}}
Admin
{{/block}}


{{#block 'content'}}

    <h1 class="mt-5">Admin</h1>

    <table class="table mt-3">
        <thead>
            <tr>
                <th>Fault ID</th>
                <th>Location</th>
                <th>Description</th>
                <th>Submitted by</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
        </tbody>
    </table>


{{/block}}


{{/extends}}