{{#extends 'base'}}
{{#block 'content'}}

    <h1>Add new pet</h1>
    <form method="post">
        <div class="mt-2">
            <label>Name:</label>
            <input type="text" name="name" class="form-control">
        </div>
        <div class="mt-2">
            <label>Breed:</label>
            <input type="text" name="breed" class="form-control">
        </div>
        <div class="mt-2">
            <label>Description:</label>
            <input type="text" name="description" class="form-control">
        </div>
        <div class="mt-2">
            <label>Age:</label>
            <input type="text" name="age" class="form-control">
        </div>
        <div class="mt-2">
            <label>Problems:</label>
            <input type="text" name="problems" class="form-control">
        </div>

        <div class="mt-2">
            <label>Tags:</label>

            <input class="form-check-input" type="checkbox" name="tags" id="" value="house-broken">
            <label class="form-check-label">House-broken</label>

            <input class="form-check-input" type="checkbox" name="tags" id="" value="vaccinated">
            <label class="form-check-label">Vaccinated</label>

            <input class="form-check-input" type="checkbox" name="tags" id="" value="chipped">
            <label class="form-check-label">Chipped</label>

            <input class="form-check-input" type="checkbox" name="tags" id="" value="fixed">
            <label class="form-check-label">Fixed</label>
        </div>

        <div class="mt-2">
            <label>HDB-approved?</label>
            <input class="form-check-input" type="radio" name="approved" value="true">
            <label class="form-check-label">True</label>

            <input class="form-check-input" type="radio" name="approved" value="false">
            <label class="form-check-label">False</label>
        </div>

        <input type="submit" value="Add pet" class="btn btn-primary mt-4">
    </form>

{{/block}}
{{/extends}}
