{{#extends 'base'}}
{{#block 'content'}}

    <h1>Delete Movie</h1>

    <form method="post">
        <div class="mt-3">
            <label>Movie ID :</label>
            <input type="text" name="id" class="form-control" placeholder="Enter movie ID">
        </div>

        <input type="submit" value="Delete" class="btn btn-primary mt-5">
    </form>

{{/block}}
{{/extends}}