{{#extends 'base'}}

{{#block 'title'}}
Edit food record
{{/block}}

{{#block 'content'}}

    <h1>Edit food record</h1>

    <form method="post">
        <div class="mt-3">
            <label class="form-label">Food name:</label>
            <input type="text" name="foodName" value="{{foodRecord.foodName}}" class="form-control">
        </div>

        <div class="mt-3">
            <label class="form-label">Calories:</label>
            <input type="text" name="calories" value="{{foodRecord.calories}}" class="form-control">
        </div>

        <div class="mt-3">
            <label class="form-label">Tags:</label>

            <input type="checkbox" name="tags" id="snack" value="snack" class="form-check-input" {{#inArray foodRecord.tags 'snack'}}checked{{/inArray}}>
            <label for="snack" class="form-check-label">Snack</label>

            <input type="checkbox" name="tags" id="homecooked" value="homecooked" class="form-check-input" {{#inArray foodRecord.tags 'homecooked'}}checked{{/inArray}}>
            <label for="homecooked" class="form-check-label">Homecooked</label>

            <input type="checkbox" name="tags" id="unhealthy" value="unhealthy" class="form-check-input" {{#inArray foodRecord.tags 'unhealthy'}}checked{{/inArray}}>
            <label for="unhealthy" class="form-check-label">Unhealthy</label>
        </div>

        <input type="submit" value="Edit food record" class="btn btn-primary mt-5">
    </form>
{{/block}}

{{/extends}}