{{#extends 'base'}}

{{#block 'title'}}Fruits title{{/block}}

{{#block 'content'}}

<!-- NOTE: The default method is GET -->
<!-- NOTE: The 'action' attribute will specify the route to send the POST request to -->
<form method="POST">
    <h1>Calculate Total Cost</h1>

    <div class="mt-5">
        <label>Select fruits: </label>

        <input type="checkbox" name="items" class="form-check-input" value="durian" />
        <label class="form-check-label">Durian ($15.00)</label>

        <input type="checkbox" name="items" class="form-check-input" value="apple" />
        <label class="form-check-label">Apple ($3.00)</label>

        <input type="checkbox" name="items" class="form-check-input" value="banana" />
        <label class="form-check-label">Banana ($6.00)</label>

        <input type="checkbox" name="items" class="form-check-input" value="orange" />
        <label class="form-check-label">Orange ($4.00)</label>

    </div>

    <input class="btn btn-primary mt-3" type="submit" value="Calculate total cost" />
</form>

{{#if totalCost}}
<div class="mt-5">
    <h3>Total Cost: ${{totalCost}}</h3>
</div>
{{/if}}

{{/block}}
{{/extends}}