{{#extends 'base'}}

{{#block 'title'}}
Lab 5
{{/block}}

{{#block 'content'}}

    {{!-- Create a paragraph for each item in fruits array --}}
    {{#each fruits}}
        <p>{{this}}</p>
    {{/each}}

    {{!-- Using our own registered helper ifEquals --}}
    {{#ifEquals favoriteFruit 'apples'}}
        <p>Yes, you are keeping the doctors away</p>
    {{else}}
        <p>Please eat more apples</p>
    {{/ifEquals}}
    
{{/block}}


{{/extends}}